body, html {
    height: 100%
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

input {
    background-color: var(--background);
    border-radius: var(--radius);
    padding: var(--padding);
    color: var(--text);
    display: block;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-bottom: 1em
}

button {  
    display: inline;
    margin-right: 0.5em
}

form > span {
    color: var(--error);
    font-size: var(--small);
    display: inline;
    font-weight: bold
}

div {
    background-color: var(--banner);
    border-radius: var(--radius);
    padding: 2em;
    width: 20em
}

body > span {
    color: var(--text);
    padding: var(--padding);
    font-weight: bold
}

a {
    padding: var(--padding);
    color: var(--blue);
    transition: var(--transition);
    text-decoration: none;
    font-weight: bold;
    display: inline
}    

a:hover {    
    color: var(--blank)
}