@font-face {
    font-family: nunito;
    src: url(nunito.ttf)
}

@font-face {
    font-family: sans;
    src: url(sans.ttf)
}

:root {
    --transition: 0.2s;
    --radius: 0.3em;
    --padding: 0.4em;
    --border: 1px solid;
    --shadow: 2px 2px 6px;
    --header: 30px;
    --reveal: 0.5s
}

body[theme = "Light"] {
    --background: #eee;
    --green: #4a4;
    --green-hover: #393;
    --deep: #07d;
    --blue: #38c;
    --blue-hover: #27b;
    --off: #ddd;
    --banner: #aaa;
    --error: #c11;
    --error-hover: #b00;
    --button: #ccc;
    --plain: #bbb;
    --box: #bbb;
    --blank: #999;
    --fade: #888;
    --text-title: #333;
    --text: #000;
    --text-contrast: #fff;
}

body[theme = "Dark"] {
    --background: #222;
    --green: #282;
    --green-hover: #171;
    --deep: #29f;
    --blue: #16a;
    --blue-hover: #059;
    --off: #333;
    --banner: #444;
    --error: #f55;
    --error-hover: #e44;
    --button: #333;
    --plain: #666;
    --box: #666;
    --blank: #999;
    --fade: #777;
    --text-title: #bbb;
    --text: #ccc;
    --text-contrast: #fff;
}

body[theme = "Gob"] {
    --background: #111;
    --green: #2b2;
    --green-hover: #1a1;
    --deep: #2bd;
    --blue: #189;
    --blue-hover: #078;
    --off: #222;
    --banner: #333;
    --error: #f55;
    --error-hover: #e44;
    --button: #444;
    --plain: #0d8;
    --box: #666;
    --blank: #999;
    --fade: #777;
    --text-title: #bbb;
    --text: #0f0;
    --text-contrast: #fff;
}

body[theme = "Vibrant"] {
    --background: #222;
    --green: #6a0;
    --green-hover: #590;
    --deep: #2bd;
    --blue: #189;
    --blue-hover: #078;
    --off: #333;
    --banner: #444;
    --error: #f55;
    --error-hover: #e44;
    --button: #555;
    --plain: #d80;
    --box: #666;
    --blank: #fff;
    --fade: #777;
    --text-title: #fff;
    --text: #fd5;
    --text-contrast: #fff;
}

body[theme = "Navy"] {
    --background: #234;
    --green: #4a4;
    --green-hover: #393;
    --deep: #29f;
    --blue: #27b;
    --blue-hover: #16a;
    --off: #345;
    --banner: #456;
    --error: #f55;
    --error-hover: #e44;
    --button: #678;
    --plain: #07d;
    --box: #567;
    --blank: #567;
    --fade: #89a;
    --text-title: #cde;
    --text: #bcd;
    --text-contrast: #fff;
}

/*--plain: #fd5;
--text: #8c9;*/

body {
    margin: 0;
    background-color: var(--background);
    font-size: var(--font);
    font-family: nunito
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: var(--padding);
    font-size: var(--small);
    background: var(--background);
    z-index: 4
}

footer span {
    float: right
}

footer a {
    color: var(--deep);
    text-decoration: none;
    transition: var(--transition)
}

footer a:hover {
    color: var(--blank)
}

button, select, input, textarea {
    font-size: var(--font);
    font-family: nunito
}

button, select, input[type = "submit"], img {
    cursor: pointer;
    transition: var(--transition);
    -webkit-appearance: none;
    appearance: none
}

input[type = "file"] {
    display: none
}

.markdown {
    max-height: 20em;
    overflow: auto
}

.markdown th, .markdown td {
    border: var(--border) var(--plain);
    padding: var(--padding)
}

.markdown table {
    border-collapse: collapse;
    margin: 0.5em 0
}

.markdown blockquote {
    background-color: var(--off);
    border-left: 0.5em solid var(--plain);
    margin: 0.5em 1em;
    padding: var(--padding) 1em
}

.markdown p, .markdown ul {
    margin: 0 0 0.5em 0
}

.markdown code {
    display: inline-block;
    padding: var(--padding);
    background-color: var(--off);
    border-radius: var(--radius);
    border: var(--border) var(--plain)
}

.markdown pre {
    margin: 0.5em 0
}

.markdown a {
    color: var(--deep);
    text-decoration: none;
    transition: var(--transition)
}

.markdown a:hover {
    color: var(--fade)
}

.top {
    background-color: var(--banner);
    padding: var(--padding);
    height: 3em
}

.top > div {
    height: calc(3em - var(--padding) * 2);
    display: flex
}

.logo {
    flex: 0 1 1;
    text-decoration: none;
    display: block
}

.logo > span {
    color: var(--text-title);
    vertical-align: super;
    font-family: sans;
    font-size: 0.8em
}

.logo > svg {
    height: calc(3em - var(--padding) * 2);
    margin: 0
}

.top > div > form, .top > div > input {
    width: 0;
    flex: 1 1 0;
    height: calc(3em - var(--padding) * 2);
    margin-left: 1em
}

.top > div input {
    background-color: var(--background);
    color: var(--text);
    padding: var(--padding);
    border-radius: var(--radius);
    border: none
}

.top > div > form > input {
    width: 100%
}

.top > div button, .top > div select {
    margin-left: 1em;
    height: calc(3em - var(--padding) * 2)
}

div .profile {
    position: relative;
    padding-left: 2.5em
}

.profile > img {
    box-shadow: var(--shadow) var(--box);
    border-radius: 50%;
    position: absolute;
    transform: translateY(50%);
    left: 0.2em;
    bottom: 50%;
    width: 2em;
    height: 2em
}

.button {
    font-weight: bold;
    padding: var(--padding);
    border-radius: var(--radius);
    border: none
}

.button i {
    padding-right: var(--padding)
}

.button[version = "green"] {
    background-color: var(--green);
    color: var(--text-contrast)
}

.button[version = "green"]:hover {
    background-color: var(--green-hover)
}

.button[version = "blue"] {
    background-color: var(--blue);
    color: var(--text-contrast)
}

.button[version = "blue"]:hover {
    background-color: var(--blue-hover)
}

.button[version = "plain"] {
    background-color: var(--button);
    color: var(--text)
}

.button[version = "plain"]:hover {
    background-color: var(--box)
}

.button[version = "blank"] {
    background-color: var(--button);
    color: var(--fade);
    cursor: not-allowed
}

.main {
    color: var(--text)
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.5em;
    align-items: stretch
}

.gallery img {
    max-width: 100%;
    box-shadow: var(--shadow) var(--box);
    border-radius: var(--radius)
}

.gallery img:hover {
    opacity: 0.5
}

.comment {
    border: var(--border) var(--plain);
    margin: 0.5em 0;
    border-radius: var(--radius);
    padding: var(--padding) 0 0 var(--padding)
}

.comment > a {
    color: var(--text);
    font-weight: bold;
    transition: var(--transition);
    text-decoration: none
}

.comment > a > img {
    box-shadow: var(--shadow) var(--box);
    border-radius: 50%;
    margin-right: var(--padding);
    float: left;
    width: 2.3em;
    height: 2.3em
}

.comment > a:hover {
    color: var(--fade)
}

.comment > i {
    float: right;
    padding-right: 0.6em
}

.comment > .markdown {
    font-size: var(--small)
}

.message {
    position: relative;
    width: 100%;
    margin: 1em 0
}

.message > textarea {
    font-size: var(--small);
    color: var(--text);
    border-radius: var(--radius);
    border: var(--border) var(--plain);
    font-family: nunito;
    background: none;
    width: 100%;
    height: 10em;
    padding: var(--padding);
    resize: none;
    margin: 0
}

.message > i {
    position: absolute;
    right: 0.6em;
    color: var(--blank);
    transition: var(--transition);
    top: 0.5em
}

.message > i[version = "blank"] {
    cursor: not-allowed
}

.message > i[version = "active"] {
    cursor: pointer
}

.message > i[version = "active"]:hover {
    color: var(--plain)
}

@media screen and (min-width: 86em) {
    .top > div {max-width: 86em; padding: 0 6em; margin: 0 auto}
    .main[page = "wide"] {max-width: 86em; padding: 1em 6em 2em 6em; margin: 0 auto}
    :root {--font: 20px; --small: 16px}
}

@media screen and (min-width: 64em) {
    .main[page = "narrow"] {max-width: 64em; padding: 1em 6em 2em 6em; margin: 0 auto}
    :root {--font: 20px; --small: 16px}
}

@media screen and (min-width: 50em) and (max-width: 86em) {
    .top > div {padding: 0 4em; margin: 0 auto}
    .main[page = "wide"] {padding: 1em 4em 2em 4em}
    :root {--font: 18px; --small: 14px}
}

@media screen and (min-width: 50em) and (max-width: 64em) {
    .main[page = "narrow"] {padding: 1em 4em 2em 4em}
    :root {--font: 18px; --small: 14px}
}

@media screen and (max-width: 50em) {
    .logo > span, .top > div > form, .top > div > input, .top > div button > span {display: none}
    .top > div {padding: 0 1em; margin: 0 auto}
    .main {padding: 1em 1em 2em 1em}
    :root {--font: 16px; --small: 12px}
}

* {
    box-sizing: border-box
}